<h2>Please select your cheese: </h2>
<div class="row">
  <div class="col-md-6">

    <md-card class="ingredient_card">
      <md-card-header class="ingredient_header">
        <md-card-title><h4><b>Cheddar Cheese</b></h4></md-card-title>
      </md-card-header>
      <button md-button (click)= "setCheese('cheddar')">
      <img md-card-image src="assets/img/cheddar.jpg">
   </button>
      <md-card-content>
        <p>
          Certified organic cheddar cheese from local farmers.
        </p>
      </md-card-content>
    </md-card>


  </div>
  <div class="col-md-6">
    <md-card class="ingredient_card">
      <md-card-header class="ingredient_header">
        <md-card-title><h4><b>Swiss Cheese</b></h4></md-card-title>
      </md-card-header>
      <button md-button (click)= "setCheese('swiss')">
      <img md-card-image src="assets/img/swiss.jpg">
      </button>
      <md-card-content>
        <p>
          Imported organic swiss cheese from Germany.
        </p>
      </md-card-content>
    </md-card>
  </div>
</div>

<div class="row">
  <div class="col-md-6 btn_left">
    <button md-fab routerLink="/meat"> <i class="material-icons">arrow_back</i> </button>
  </div>

  <div class="col-md-6 btn_right">
    <button md-fab routerLink="/topping"> <i class="material-icons">arrow_forward</i> </button>
  </div>
</div>