<h4>Current Orders:</h4>
<ul>
    <li *ngFor="let order of activeOrders" class="currOrders">
    Order #{{order.orderId}}

    <ul>
        <li *ngFor="let sandwich of order.sandwiches" class="currSandwiches">
		<span id="sandwich">
        <span id="bread">{{sandwich.bread}}</span>
		<span id="substance">{{sandwich.substance}}</span>
		<span id="cheese">{{sandwich.cheese}}</span>
		<span id="tomatoes">{{sandwich.tomatos ? "YES" : "NO"}}- tomatoes</span>
		<span id="lettuce">{{sandwich.lettuce ? "YES" : "NO"}}- lettuce</span>
		<span id="onions">{{sandwich.onions ? "YES" : "NO"}}- onions</span>
		<span id="dressing">{{sandwich.dressing}}</span>
		<div class="btn-group">
			<button id="prepare" (click)="prepareSandwich(sandwich); backgroundColor =!backgroundColor;">Prepare Sandwich</button>
			<button id="cancel" (click)="cancelSandwich(sandwich)">Cancel Order</button>
			<button id="complete" (click)="completeSandwich(sandwich)">Complete Order</button>
		</div>
		</span>
		<br><span id="statusMsg">{{sandwich.status}}</span>
		</li>
		<hr>
    </ul>
    </li>
</ul>

<!--table functionality breaks when trying to run 2nd loop through sandwich array -->
<!-- <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
 
    </tr>
  </thead>
  <tbody>
	<tr *ngFor="let order of activeOrders" class=''>
		<td colspan="2">Order #{{order.orderId}}</td>
	</tr>
    <tr *ngFor="let sandwich of order.sandwiches" class=""> 
     <tr>
	 <td>{{order.sandwich.bread}}</td>
       <td>{{sandwich.substance}}</td>
      <td>{{sandwich.cheese}}</td>
      <td>{{sandwich.tomatos ? "Yes" : "No"}} tomatoes</td>
      <td>{{sandwich.lettuce ? "Yes" : "No"}} lettuce</td>
      <td>{{sandwich.onions ? "Yes" : "No"}} onions</td>
      <td>{{sandwich.dressing}}</td> 

    </tr> 

  </tbody>
</table> -->

