.text{
    text-align: center;
    margin: 3em 0 8em 0;
}

.add_button{
    width: 100px;
    height: 100px;
    margin: 0 0 0 20em;
}

.btn_icon{
    display: center;
    height: 45px;
}

.btn_confirm{
    text-align: center;
    font-size: 20px;  
    font-weight: bold;
    color: white;
}

.material-icons{
    font-size: 48px;
    color: #673AB7;
}
