<div class="text">
  <h1>Would you like to order another sandwich?</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <button md-fab routerLink="/bread" class="add_button" (click)="select(true)">
        <div class="btn_icon">
            <i class="material-icons">add</i>
        </div>
        <div class="btn_confirm">
            YES
        </div>
    </button>
  </div>

  <div class="col-md-6">
    <button md-fab routerLink="/order" md-fab class="add_button" (click)="select(true)">
        <div class="btn_icon">
            <i class="material-icons">check</i>
        </div>
        <div class="btn_confirm">
            NO
        </div>
    </button>
  </div>
</div>
