<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Bread</th>
      <th>Meat</th>
      <th>Cheese</th>
      <th>Tomatos</th>
      <th>Lettuce</th>
      <th>Onions</th>
      <th>Dressing</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sandwich of currentOrder.sandwiches" class="active">
      <td>{{sandwich.bread}}</td>
      <td>{{sandwich.substance}}</td>
      <td>{{sandwich.cheese}}</td>
      <td>{{sandwich.tomatos ? "Yes" : "No"}}</td>
      <td>{{sandwich.lettuce ? "Yes" : "No"}}</td>
      <td>{{sandwich.onions ? "Yes" : "No"}}</td>
      <td>{{sandwich.dressing}}</td>
      <td>{{sandwich.price}}</td>
    </tr>
    <tr>
      <!-- TODO subtotal -->
    </tr>
  </tbody>
</table>

<!-- TODO align to bottom right -->
<button md-raised-button class="submit_button" (click)="submitOrder()">
  SUBMIT
</button>
